@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bai+Jamjuree:wght@400;500;600;700&family=Barlow&family=Barlow+Condensed:ital,wght@0,300;0,400;1,100&family=Bellefair&family=Josefin+Slab&family=Lobster&family=Merienda:wght@300&family=Montserrat+Alternates&family=Noto+Serif&family=Nunito+Sans:wght@200;300;400;500;600&family=Nunito:wght@200;300;400;500;600&family=Open+Sans:wght@300&family=Philosopher&family=Poppins:wght@200;300;400&family=Roboto:wght@400;500&family=Saira+Condensed:wght@300&family=Unna:ital@0;1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #222 !important;
}
.card{
    width: 90%;
    max-width: 400px;
    background:linear-gradient(135deg,#00feba,#5b548a) ;
    color: #fff;
    margin: 78px auto 0;
    border-radius: 20px;
    padding: 30px 35px;
    text-align: center;
}
.search{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 4px solid red !important;
    background-color: red;
}
.search input{
    width: auto;
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 5px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 6px;
    font-size: 18px;
}
.search button{
     border: 0;
     outline: 0;
     background-color: #ebfffc;
     border-radius: 50%;
     width: 30px;
     height: 30px;
     cursor: pointer;
}
.search button img{
    width: 10px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 20px;
    font-weight: 500;
}
.weather h2{
    font-size: 25px;
    font-weight: 400;
    margin-top: -10px;
}
.detalis{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px ;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 20px ;
    margin-right: 15px;
}
.humidity,wind{
    font-size: 28px;
    margin-top: -6px;
}
